body{
	font-family: 'OpenSansLight';
	font-size: 24px;
}

#wrapper{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	min-width: 870px;
	max-width: 1366px;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;

}  
.clearfix:after {  
    clear: both;  
}
.clearfix {  
    *zoom: 1;  
}
.clearfix{
	overflow: auto;
}

.container{
	width: 85%;
	margin: auto;
}

.line{
		border: 0;
		width: 270px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 

}

/*Button-Top*/

#back-top {
position: fixed;
bottom: 40px;
margin-left: 92%;
}
#back-top a {
width: 30px;
display: block;
text-align: center;
font: 11px/100% Arial, Helvetica, sans-serif;
text-transform: uppercase;
text-decoration: none;
color: rgba(135,135,135, 0.8);
/* transition */
-webkit-transition: 1s;
-moz-transition: 1s;
transition: 1s;
}
#back-top a:hover {
color: rgba(135,135,135, 0.8);
}
/* arrow icon (span tag) */
#back-top span {
width: 40px;
height: 40px;
display: block;
margin-bottom: 7px;
background: rgba(135,135,135, 0.5) url(../images/up.png) no-repeat center center;
background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
/* rounded corners */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
/* transition */
-webkit-transition: 1s;
-moz-transition: 1s;
transition: 1s;
}
#back-top a:hover span {
background-color: rgba(135,135,135, 0.8);
}


/*Text*/
.textH{
	font-size: 44px;
	font-weight: 400;
	font-family: 'ArchiveRegular';
}

/*Header*/

.home{
	 background: url(../images/cover.jpg);
	background-color: #222;
	 background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%; 
/*	width: 100%;
	height: 100%;
	position: relative;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0; 

}

.start{
 	text-align: center;
 	height: 100%;
 	background-color: rgba(44, 62, 80, 0.3);
 	background-image: url("../images/pattern.png");
 	color: white; 
}

.start #hello{
	padding-top: 15%;
	font-size: 18px;
	font-family: 'OpenSansLight';
}	

.start h1{
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 54px;
	font-weight: 400;
	font-family: 'ArchiveRegular';
}

.start p {
	font-size: 18px;
	font-family: 'OpenSansLight';
}

.start q{
	display: block;
	font-size: 28px;
	font-family: 'OpenSansLight';
	margin-bottom: 9%;
}
.start img {
	height: 25px;
	width: 25px;
}
.start img:hover {
	height: 27px;
	width: 27px;
}

#down{
	display: block;
	height: 30px;
	width: 30px;
	margin: 40px auto;
}

/*Navigation*/

#navigation {
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid #efefef;
	z-index: 333;
	}

#navigation.default {
  width:100%;
        }
#navigation.fixed {
   position:fixed;
   top:0; left:0;
   width:100%;
        }

.navHeader{
	display: block;
}

.navHeader .img {
	display: block;
	float: left;
	width: 280px;
	height: 50px;

	background: url(../images/logo4.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

.navHeader .img:hover{
	background: url(../images/logo3.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.navHeader a{
 color: black;
}

.navHeader .hSpan{
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 24px;
	font-weight: 400;
	font-family: 'ArchiveRegular';
}

.navHeader .pSpan{
	text-decoration: underline; ;
	font-size: 11px;
	font-family: 'OpenSansRegular';
}

.navbar{
	display: block;
	float: right;
}

.navbar li{
	list-style: none;
	display: inline-block;
	float: left;
	margin: 5px 20px 0 0;
}

.navbar li a {
	font-size: 12px;
	font-family: 'OpenSansRegular';

	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

.navbar li a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #E7746F;
    transition: width .3s ease-in-out;
}

.navbar li a:hover:after {
    width: 100%;
}

.top-menu a:hover,
.top-menu a.active {
    color: #c6534f;
}


/*Resume*/
#resume{
text-align: center;
background-color: #f5f5f5;
padding-top: 130px;
padding-bottom: 100px;
}

#resume .icon{
	margin: 20px auto;
}

#resume .icon {
	height: 250px;
	width: 250px;
	border-radius: 150px;

	background: url(../images/face_b.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

#resume .icon:hover{
	background: url(../images/face.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#resume .textResume{

}
.textResume > div{
	margin-top: 20px;
	font-size: 18px;
	font-family: 'OpenSansLight';
}

.textl{
	width: 375px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-right: 25px;
}

.textr{
	width: 400px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

/*Skills*/

#skills{
	text-align: center;
	background-color: #ffffff;
	padding-top: 130px;
}

.container h4{
	font-size: 18px;
	font-weight: 300;
	font-family: 'OpenSansLight';
}

.boxs{
	margin: 100px auto;
	display: flex;
}

.boxWithin{
	text-align: center;
	background-color: #f5f5f5;
	height: 250px;
	width: 100%;
	flex:1;
	margin: 1%;
	overflow: auto;
	border-bottom: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;
	-o-transition:all .4s linear;
}

.boxWithin:hover {
	border-bottom: 2px solid #d4d4d4;
	background-color: #efefef;
}

.iconBox .iconBack1{
	margin: 30px auto 20px auto;
	height: 65px;
	width: 67px;
	background-image: url(../images/html1.png);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;
	-o-transition:all .4s linear;
}

.boxHover1:hover .iconBack1{
	background: url(../images/html3.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.iconBox .iconBack2{
	margin: 30px auto 20px auto;
	height: 65px;
	width: 67px;
	background-image: url(../images/js.png);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;
	-o-transition:all .4s linear;
}

.boxHover1:hover .iconBack2{
	background: url(../images/js3.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.iconBox .iconBack3{
	margin: 30px auto 20px auto;
	height: 65px;
	width: 67px;
	background-image: url(../images/php1.png);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;
	-o-transition:all .4s linear;
}

.boxHover1:hover .iconBack3{
	background: url(../images/php2.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.iconBox .iconBack4{
	margin: 30px auto 20px auto;
	height: 65px;
	width: 67px;
	background-image: url(../images/ps.png);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;
	-o-transition:all .4s linear;
}

.boxHover1:hover .iconBack4{
	background: url(../images/ps2.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.textBox {
	width: 90%;
	margin: auto;
}

.textBox h1{
 	font-size: 18px;
	font-weight: 100;
	font-family: 'ArchiveRegular';
}

.textBox p{
  font-size: 15px;
	font-weight: 300;
	font-family: 'OpenSansLight';
	margin-top: 15px;
}

.boxWithin .textBox p{
	color: black;

	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

.boxWithin:hover .textBox p{
	color: #c6534f;
}

/* Portfolio  (addition - set1)*/

#portfolio{
	text-align: center;
	background-color: #f5f5f5;
	padding-top: 130px;
}

/*AboutMe*/

#aboutMe{
	text-align: center;
	background-color: #ffffff;
	padding-top: 130px;
}

.infoBox{
	text-align: center;
	background-color: #f5f5f5;
	height: 100%;
	width: 100%;
	flex:1;
	margin: 1%;
	overflow: auto;
	border-bottom: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

.infoBox:hover{
	border-bottom: 1px solid #b5b5b5;
	background-color: #efefef;
}

.headerInfoBox{
	width: 80%;
	margin: 5px auto;
	font-size: 26px;
	font-weight: 10;
	font-family: 'ArchiveRegular';
	border-bottom: 1px solid #d4d4d4;

	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}
.infoBox:hover 	.headerInfoBox{
	color: #d64f4f;
	border-bottom: 1px solid #969696;	
}

.textInfoBox{
	width: 90%;
	margin: 10px auto;
	text-align: justify;
  font-size: 19px;
	font-weight: 300;
	font-family: 'OpenSansLight';
}

/* Contacts */

#contacts{
	background: #222;
	text-align: center;
	padding: 40px 0;
	color: #fff;
}

#contacts .boxs{
	margin: 0;
}

.contactsInfo{
	text-align: center;
	height: 100%;
	width: 100%;
	flex:1;
	margin: 1%;

}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.imgMob{
	height: 40px;
	width: 40px;
	background: url(../images/mob.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
}

.imgMassadge{
	height: 40px;
	width: 40px;
	background: url(../images/massage.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
}

.imgVk{
	height: 40px;
	width: 40px;
	background: url(../images/vk1.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
}

.imgFb{
	height: 40px;
	width: 40px;
	background: url(../images/f1.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
}

.contactsInfo h1{
	margin-top: 5px;
	font-size: 20px;
	font-weight: 10;
	font-family: 'ArchiveRegular';
	 color: #d64f4f;
}

.contactsInfo p{
	font-size: 14px;
	font-weight: 300;
	font-family: 'OpenSansLight';
}

.contactsInfo a{
	color: #fff;

	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

.contactsInfo a:hover{
	color: #d64f4f;
	}

.heart{
	margin-top: 30px;
}

footer span{
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	color: #ff5252;
}

.contactsInfo .UA{
	font-size: 14px;
	font-weight: 300;
	font-family: 'OpenSansLight';
	margin-top: 15px;
	color: #fff;
}

